
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e23744;
    color: white;
}

.logo img {
    height: 50px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #ffd700;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e23744;
    color: white;
}

.logo img {
    height: 30px;  
    width: auto;   
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #ffd700;
}

main {
    padding: 50px;
}

main section {
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

main section:first-of-type {
    background: url('/img/food.png') no-repeat center center/cover;
    color: white;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section:first-of-type img {
    height: 100px;
}

main section:first-of-type p {
    font-size: 24px;
    margin-top: 20px;
}

main section:first-of-type input {
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

main section:nth-of-type(2) {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

main section:nth-of-type(2) h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #e23744;
}

main section:nth-of-type(2) p {
    font-size: 18px;
    margin-bottom: 20px;
}

.main-features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    width: 250px;
    background-color: #e23744;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

footer {
    background-color: #e23744;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}